@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');


body{
  background-color: #000F0A;
  color: white;
  @apply font-inder;
}

/* For WebKit browsers */
::-webkit-scrollbar {
        width: 8px; /* Width of the scrollbar */
      }
      
      ::-webkit-scrollbar-track {
        background: #000F0A; /* Background of the track (the area the scroll thumb slides in) */
      }
      
      ::-webkit-scrollbar-thumb {
        background: #7DFFAF; /* Color of the scrollbar thumb */
        border-radius: 16px; /* Rounded corners on the scrollbar thumb */
      }
      
      ::-webkit-scrollbar-thumb:hover {
        background: #0F2819; /* Darker color when hovered */
      }
      