.button-container {
        display: flex;
        gap: 0px; 
        background-color: #1e293b;
      }
      
      .btn {
        padding: 8px 16px;
        border: 2px solid transparent;
        border-radius: 8px;
        color: white;
        font-family: Arial, sans-serif;
        font-size: 14px;
        cursor: pointer;
        transition: all 0.3s ease;
      }
      
      .btn.active {
        background-color: #6cebcd; 
        color: black;
        border: 2px solid white;
        border-radius: 8px;
      }
      
      .btn.active:hover {
        opacity: 0.9;
        scale: 1.1;
      }
